---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Spark from "../components/svg/Spark.astro";
import WorkCard from "../components/WorkCard.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Header />
    <div class="title">
      <h1>REGINE SWART</h1>
      <span class="line"></span>
    </div>
    <img src="foto-portada.jpeg" alt="" />
    <article class="about-container">
      <div class="about-description">
        <h2><Spark /> MY LENS <br /> MY STORY</h2>
        <div class="description">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque
            obcaecati inventore incidunt, molestiae omnis porro nihil quia
            voluptate tenetur esse similique nobis tempore facere magnam minus
            expedita et aut aspernatur. Lorem, ipsum dolor sit amet consectetur
            adipisicing elit. Neque obcaecati inventore incidunt, molestiae
            omnis porro nihil quia voluptate tenetur esse similique nobis
            tempore facere magnam minus expedita et aut aspernatur.
          </p>

          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque
            obcaecati inventore incidunt, molestiae omnis porro nihil quia
            voluptate tenetur esse similique nobis tempore facere magnam minus
            expedita et aut aspernatur. Lorem, ipsum dolor sit amet consectetur
            adipisicing elit. Neque obcaecati inventore incidunt, molestiae
            omnis porro nihil quia voluptate tenetur esse similique nobis
            tempore facere magnam minus expedita et aut aspernatur. Lorem, ipsum
            dolor sit amet consectetur adipisicing elit. Neque obcaecati
            inventore incidunt, molestiae omnis porro nihil quia voluptate
            tenetur esse similique nobis tempore facere magnam minus expedita et
            aut aspernatur.
          </p>

          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque
            obcaecati inventore incidunt, molestiae omnis porro nihil quia
            voluptate tenetur esse similique nobis tempore facere magnam minus
            expedita et aut aspernatur. Lorem, ipsum dolor sit amet consectetur
            adipisicing elit. Neque obcaecati inventore incidunt, molestiae
            omnis porro nihil quia voluptate tenetur esse similique nobis
            tempore facere magnam minus expedita et aut aspernatur. Lorem, ipsum
            dolor sit amet consectetur adipisicing elit. Neque obcaecati
            inventore incidunt, molestiae omnis porro nihil quia voluptate
            tenetur esse similique nobis tempore facere magnam minus expedita et
            aut aspernatur. Lorem, ipsum dolor sit amet consectetur adipisicing
            elit. Neque obcaecati inventore incidunt, molestiae omnis porro
            nihil quia voluptate tenetur esse similique nobis tempore facere
            magnam minus expedita et aut aspernatur. Lorem, ipsum dolor sit amet
            consectetur adipisicing elit. Neque obcaecati inventore incidunt,
            molestiae omnis porro nihil quia voluptate tenetur esse similique
            nobis tempore facere magnam minus expedita et aut aspernatur. Lorem,
            ipsum dolor sit amet consectetur adipisicing elit. Neque obcaecati
            inventore incidunt, molestiae omnis porro nihil quia voluptate
            tenetur esse similique nobis tempore facere magnam minus expedita et
            aut aspernatur.
          </p>
        </div>
        <button>Read More</button>
      </div>
    </article>
    <section class="works-container">
      <h2>WORK</h2>
      <div class="work-cards">
        <WorkCard>
          <img slot="work-image" src="work-1.jpg" alt="" />
          <span slot="work-subtitle">STREET / PHOTOGRAPHY</span>
          <h3 slot="work-title">PEOPLE WALK</h3>
        </WorkCard>
        <WorkCard>
          <img slot="work-image" src="work-2.jpg" alt="" />
          <span slot="work-subtitle">LANDSCAPE / PHOTOGRAPHY</span>
          <h3 slot="work-title">VIEWS</h3>
        </WorkCard>
        <WorkCard>
          <img slot="work-image" src="work-3.jpg" alt="" />
          <span slot="work-subtitle">STREET / PHOTOGRAPHY</span>
          <h3 slot="work-title">CALIFORNIA ST</h3>
        </WorkCard>
        <WorkCard>
          <img slot="work-image" src="work-4.jpg" alt="" />
          <span slot="work-subtitle">STREET / PHOTOGRAPHY</span>
          <h3 slot="work-title">SKATEBOARD</h3>
        </WorkCard>
        <WorkCard>
          <img slot="work-image" src="work-5.jpg" alt="" />
          <span slot="work-subtitle">STREET / PHOTOGRAPHY</span>
          <h3 slot="work-title">ACROSS THE WORLD</h3>
        </WorkCard>
        <WorkCard>
          <img slot="work-image" src="work-6.jpg" alt="" />
          <span slot="work-subtitle">STREET / PHOTOGRAPHY</span>
          <h3 slot="work-title">BUILD</h3>
        </WorkCard>
      </div>
    </section>
    <section class="contact-container">
      <div class="img-container"></div>
      <div class="info-container">
        <h2 class="info-title">LET'S WORK</h2>
        <p class="info-description">
          Let's collaborate and capture your moments in timeless photographs.
          Ready to work together
        </p>
        <button class="info-button">
          <a href="mailto:example@example.com">Contact Me</a>
        </button>
      </div>
    </section>
    <footer>
      <nav>
        <ul>
          <li>©2024 REGINE SWART</li>
        </ul>
        <ul>
          <li>ABOUT</li>
          <li>CONTACT</li>
        </ul>
      </nav>
    </footer>
  </main>
</Layout>
