---
import '../styles/Header.css'
---

<header>
    <nav>
        <ul>
            <li><a href="index.php">EXPLORE</a></li>
            <li><a href="index.php?page=about">PORTFOLIO</a></li>
            <li><a href="index.php?page=contact">CONTACT</a></li>
        </ul>
        <ul>
            <li><a href="index.php?page=login">REGINASWART@GMAIL.COM</a></li>
            <button><a role="button" class="btn-a" href="index.php?page=register">LETS CONNECT</a></button>
        </ul>
    </nav>
</header>