---
import '../styles/WorkCards.css'
---

<div class="work">
    <slot name="work-image" class="work-image"/>
    <slot name="work-subtitle" class="work-subtitle"/>
    <slot name="work-title" class="work-title"/>
  </div>